<option disabled selected>Resource Area(s) of Service</option>
<optgroup label="Tier One: Financial">
    <option value="One_Prevention">Prevention</option>
    <option value="One_Foster Care">Foster Care</option>
    <option value="One_Reunification">Reunification</option>
    <option value="One_Adoption">Adoption</option>
    <option value="One_Transition">Transition</option>
</optgroup>
<optgroup label="Tier Two: Relational">
    <option value="Two_Prevention">Prevention</option>
    <option value="Two_Foster Care">Foster Care</option>
    <option value="Two_Reunification">Reunification</option>
    <option value="Two_Adoption">Adoption</option>
    <option value="Two_Transition">Transition</option>
</optgroup>
<optgroup label="Tier Three: Familial">
    <option value="Three_Prevention">Prevention</option>
    <option value="Three_Foster Care">Foster Care</option>
    <option value="Three_Reunification">Reunification</option>
    <option value="Three_Adoption">Adoption</option>
    <option value="Three_Transition">Transition</option>
</optgroup>