<option disabled selected>Resource Area(s) of Service</option>
<optgroup label="Tier One: Does Resource Partner provide financial or physical assistance to families or children involved in the following categories of child welfare?">
    <option value="One_Prevention">Prevention</option>
    <option value="One_Foster Care">Foster Care</option>
    <option value="One_Reunification">Reunification</option>
    <option value="One_Adoption">Adoption</option>
    <option value="One_Transition">Transition</option>
</optgroup>
<optgroup label="Tier Two: Does Resource Partner provide relational support or connectivity to familes or youth involved in the following categories of child welfare?">
    <option value="Two_Prevention">Prevention</option>
    <option value="Two_Foster Care">Foster Care</option>
    <option value="Two_Reunification">Reunification</option>
    <option value="Two_Adoption">Adoption</option>
    <option value="Two_Transition">Transition</option>
</optgroup>
<optgroup label="Tier Three: Does Resource Partner provide familial or housing support to families or youth involved in the following categories of child welfare?">
    <option value="Three_Prevention">Prevention</option>
    <option value="Three_Foster Care">Foster Care</option>
    <option value="Three_Reunification">Reunification</option>
    <option value="Three_Adoption">Adoption</option>
    <option value="Three_Transition">Transition</option>
</optgroup>