<div id="banner" class="center-align">
    <div>
        <h1>Let's end the child welfare crisis<br>in Oklahoma together!</h1><br>
        <a id="commitChurch" class="waves-effect btn-large">Commit My Church</a>
        <a id="commitFamily" class="waves-effect btn-large">Commit My Family</a>
    </div>
</div>