<div id="banner">
    <div id="inside-banner" class="center-align">
        <h1 class="white-text">Let's end the child welfare crisis<br>in Oklahoma together!</h1><br>
        <a id="commit-church-button" class="white-text waves-effect btn-large">Pledge My Church</a>
        <a id="commit-family-button" class="white-text waves-effect btn-large">Commit My Family</a>
    </div>
</div>