<div id="church-form" class="row center-align white-text">
    <h1>Pledge My Church</h1>
    <p>Are you ready to show Oklahoma the power of the Body of Christ working together? Will you commit your church to be the solution to the child welfare crisis in Oklahoma seeing that there is more than enough support for children and families in crisis in your community? To pledge your church, please provide us your basic contact information, the county where your church is physically located, and the amount of families, that in faith, your church is choosing to commit.</p>
    <form action="/oklahoma/churches" method="post">
        <div class="input-field col m4 s12">
            <input type="text" name="First Name" placeholder="Your First Name">
        </div>
        <div class="input-field col m4 s12">
            <input type="text" name="Last Name" placeholder="Your Last Name">
        </div>
        <div class="input-field col m4 s12">
            <input type="text" name="Church" placeholder="Your Church Name">
        </div>
        <div class="input-field col m5 s12">
            <input type="text" name="Phone" placeholder="Your Best Contact Phone" data-mask="(000) 000-0000" maxlength="14">
        </div>
        <div class="input-field col m7 s12">
            <input type="text" name="Email" placeholder="Your Email">
        </div>
        <div class="input-field col m6 s12">
            <select name="County">
                <%- include('../partials/resourceCounty') %>
            </select>
        </div>
        <div class="input-field col m6 s12">
            <input type="text" name="Pledge" placeholder="Amount of Families Being Pledged">
        </div>
        <div class="input-field col s12">
            <button id="churchSubmitButton" class="btn-large waves-effect waves-light white" type="submit" name="action">Pledge My Church</button>
        </div>
    </form>
</div>