<div id="current-stats" class="row white-text">
    <div class="col s6 m3 center-align">
        <h1></h1>
        <h5>Churches<br>Pledged</h5>
    </div>
    <div class="col s6 m3 center-align">
        <h1></h1>
        <h5>Families<br>Committed</h5>
    </div>
    <div class="col s6 m3 center-align">
        <h1></h1>
        <h5>Partners<br>Connected</h5>
    </div>
    <div class="col s6 m3 center-align">
        <h1></h1>
        <h5>Children<br>Served</h5>
    </div>
</div>