<div id="family-form" class="row center-align white-text">
    <h1>Commit My Family</h1>
    <p>In Psalms 68:6 God gives us a glimpse of his simple plan to place the lonely in family. We believe this plan is physical and spiritual in nature. Would you commit your family to be a part of this effort in the state of Oklahoma? We would love to assist you in your next steps!</p>
    <form action="/families" method="post">
        <div class="input-field col m4 s12">
            <input type="text" name="First Name" placeholder="Your First Name">
        </div>
        <div class="input-field col m4 s12">
            <input type="text" name="Last Name" placeholder="Your Last Name">
        </div>
        <div class="input-field col m4 s12">
            <input type="text" name="Church" placeholder="Your Church Name">
        </div>
        <div class="input-field col m5 s12">
            <input type="text" name="Phone" placeholder="Your Best Contact Phone" data-mask="(000) 000-0000" maxlength="14">
        </div>
        <div class="input-field col m7 s12">
            <input type="text" name="Email" placeholder="Your Email">
        </div>
        <div class="input-field col s12">
            <button id="familySubmitButton" class="btn-large waves-effect waves-light white" type="submit" name="action">Commit My Family</button>
        </div>
    </form>
</div>