<div id="family-form" class="row center-align white-text">
    <h1>Commit My Family</h1>
    <p>Are you ready to show Oklahoma the power of the Body of Christ working together? Will you commit your church to be the solution to the child welfare crisis in Oklahoma seeing that there is more than enough support for children and families in crisis in your community?</p>
    <form action="/families" method="post">
        <div class="input-field col m6 s12">
            <input type="text" name="Name" placeholder="Your Full Name">
        </div>
        <div class="input-field col m6 s12">
            <input type="text" name="Email" placeholder="Your Email">
        </div>
        <div class="input-field col m6 s12">
            <input type="text" name="Phone" placeholder="Your Best Contact Phone" data-mask="(000) 000-0000" maxlength="14">
        </div>
        <div class="input-field col m6 s12">
            <input type="text" name="Church" placeholder="Your Church Name">
        </div>
        <div class="input-field col s12">
            <button id="familySubmitButton" class="btn-large waves-effect waves-light white" type="submit" name="action">Commit My Family</button>
        </div>
    </form>
</div>