<div id="familyForm" class="center-align">
    <h1>Commit Your Family</h1>
    <form action="/families" method="post">
        <div class="input-field">
            <input type="text" name="Name" placeholder="Name (First and Last)">
        </div>
        <div class="input-field">
            <input type="text" name="Phone" placeholder="Phone Number" data-mask="(000) 000-0000" maxlength="14">
        </div>
        <div class="input-field">
            <input type="text" name="Email" placeholder="Email">
        </div>
        <div class="input-field">
            <input type="submit" id="submitButton" class="waves-effect waves-light btn-large" value="Submit Form">
        </div>
    </form>
</div>