<div id="resources" class="row center-align hide-on-small-only">
    <h1 class="white-text">Find Partners</h1>
    <form id="findResources">
        <div class="input-field">
            <select id="findType" name="Type">
                <%- include('../partials/resourceTypes') %>
            </select>
        </div>
        <div class="input-field">
            <select multiple id="findCounties" name="Counties">
                <%- include('../partials/resourceCounties') %>
            </select>
            <span class="helper-text white-text">Select All That Apply.</span>
        </div>
        <div class="input-field">
            <select multiple id="findGridAreas" name="Grid Areas">
                <%- include('../partials/resourceGridAreas') %>
            </select>
            <span class="helper-text white-text">Select All That Apply.</span>
        </div>
        <div class="input-field">
            <button id="findResourcesSubmitButton" class="btn-large waves-effect waves-light white" type="submit" name="action">Find Resources</button>
            <!-- <input type="submit" id="findResourcesSubmitButton" class="waves-effect waves-light btn-large" value="Find Resources"> -->
        </div>
    </form>
    <div id="resourcesmodal" class="modal bottom-sheet"></div>
</div>