<div id="sponsors" class="center-align white">
    <h1>Sponsored In Part By</h1>
    <div class="sponsors">
        <div class="center-align"><img src="http://www.pngmart.com/files/4/Nike-Logo-Transparent-Background.png"/></div>
        <div class="center-align"><img src="http://104.255.199.13/wp/wp-content/uploads/2017/05/cmg-logo-large.png"/></div>
        <div class="center-align"><img src="https://www.freeiconspng.com/uploads/intel-logo-png-5.png"/></div>
        <div class="center-align"><img src="https://arhub.swiss/images/2018/05/20/DigiCert-blue-transparent-logo.png"/></div>
        <div class="center-align"><img src="https://ca.ooma.com/wp-content/uploads/Ooma-Logo-Color.jpg"/></div>
        <div class="center-align"><img src="https://i1.wp.com/freepngimages.com/wp-content/uploads/2015/11/capital-one-logo.png?fit=600%2C300"/></div>
        <div class="center-align"><img src="https://www.freepnglogos.com/uploads/ford-car-logos-png-29.png"/></div>
        <div class="center-align"><img src="http://shoptimix.com/wp-content/uploads/logo_shoptimix_white_background.png"/></div>
        <div class="center-align"><img src="https://www.intuit.com/content/dam/intuit/intuitcom/company/images/logo-intuit-preferred.png"/></div>
        <div class="center-align"><img src="https://wpfomify.com/wp-content/uploads/2017/09/lifterlms-logo-alt_color-on-transparent.png"/></div>
        <div class="center-align"><img src="https://i.pinimg.com/originals/d1/41/15/d141153e311add353e117cd6a5c596af.png"/></div>
        <div class="center-align"><img src="https://www.hillsborotitle.com/wp-content/uploads/2018/12/hillsboro_title_RGB.png"/></div>
    </div>
</div>