<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>More Than Enough - Home</title>
        <!-- Libraries and Dependencies -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
        <script src="jquery/dist/jquery.min.js"></script>
        <!-- Project Assets -->
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/mapdata.js"></script>
        <script type="text/javascript" src="js/statemap.js"></script>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <img src="/images/logo.png">
                    <ul class="right">
                        <li><a>The Campaign</a></li>
                        <li><a>The Stats</a></li>
                        <li><a>The Grid</a></li>
                        <li><a>Get Involved</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="banner"></div>
        <div id="campaign">
            <div class="campaign">
                <i class="white-text large material-icons">keyboard_arrow_down</i>
            </div>
            <div class="dropdown">
            </div>
            <div class="campaign">
                <i class="white-text large material-icons">keyboard_arrow_down</i>
            </div>
            <div class="dropdown">
            </div>
            <div class="campaign">
                <i class="white-text large material-icons">keyboard_arrow_down</i>
            </div>
            <div class="dropdown">
            </div>
        </div>
        <div id="stats">
            <div id="map"></div>
        </div>
    </body>
</html>
