<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>More Than Enough - Home</title>
        <!-- Libraries and Dependencies -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="materialize-css/dist/js/materialize.min.js"></script>
        <!-- Send Stats JSON to Jquery File -->
        <script type='text/javascript'>
            const statsJson = <%- JSON.stringify(data) %>
        </script>
        <!-- Project Assets -->
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/mapdata.js"></script>
        <script type="text/javascript" src="js/statemap.js"></script>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <img src="/images/logo.png">
                    <ul class="right">
                        <li><a>About</a></li>
                        <li><a>Commit</a></li>
                        <li><a>Share Your Story</a></li>
                        <li><a>CarePortal</a></li>
                        <li><a>Resources</a></li>
                        <li><a>Donate</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="banner"></div>
        <div class="campaign one">
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown one"></div>
        <div id="stats">
            <div id="map"></div>
            <div id="modal" class="modal bottom-sheet"></div>
        </div>
        <div class="campaign two">
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown two"></div>
        <div id="grid"></div>
        <div class="campaign three">
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown three"></div>
        <div id="resources"></div>
        <div id="forms"></div>
    </body>
</html>
