<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>More Than Enough - Home</title>
        <!-- Libraries and Dependencies -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
        <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="materialize-css/dist/js/materialize.min.js"></script>
        <!-- Send Stats JSON to Jquery File -->
        <script type='text/javascript'>
            const statsJson = <%- JSON.stringify(data) %>
        </script>
        <!-- Project Assets -->
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/mapdata.js"></script>
        <script type="text/javascript" src="js/statemap.js"></script>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <img src="/images/logo.png">
                    <ul class="right">
                        <li><a>About</a></li>
                        <li><a>Commit</a></li>
                        <li><a>Share Your Story</a></li>
                        <li><a>CarePortal</a></li>
                        <li><a>Resources</a></li>
                        <li><a>Donate</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="banner"></div>
        <div class="campaign one">
            <h1>Why We Are Fighting</h1>
            <h2>for More Than Enough</h2>
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown one"></div>
        <div id="stats">
            <h1 class="center-align">Understanding the Stats</h1>
            <div id="map"></div>
            <div id="statsmodal" class="modal bottom-sheet"></div>
        </div>
        <div class="campaign two">
            <h1>How Close Are We?</h1>
            <h2>Track Our Progress.</h2>
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown two"></div>
        <div id="grid">
            <h1 class="center-align">Understanding the Grid</h1>
            <table class="right-align">
                <thead>
                    <tr>
                        <th></th>
                        <th class="center-align">Prevention</th>
                        <th class="center-align">Foster Care</th>
                        <th class="center-align">Restoration</th>
                        <th class="center-align">Adoption</th>
                        <th class="center-align">Transition</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3 class="center-align">Tier 1</h3>
                            <h4 class="center-align">Physical</h4>
                            <h5 class="center-align">Investing In</h5>
                        </td>
                        <td><img src="/images/row-1-col-1.jpg"></td>
                        <td><img src="/images/row-1-col-2.jpg"></td>
                        <td><img src="/images/row-1-col-3.jpg"></td>
                        <td><img src="/images/row-1-col-4.jpg"></td>
                        <td><img src="/images/row-1-col-5.jpg"></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="center-align">Tier 2</h3>
                            <h4 class="center-align">Relational</h4>
                            <h5 class="center-align">Walking With</h5>
                        </td>
                        <td><img src="/images/row-2-col-1.jpg"></td>
                        <td><img src="/images/row-2-col-2.jpg"></td>
                        <td><img src="/images/row-2-col-3.jpg"></td>
                        <td><img src="/images/row-2-col-4.jpg"></td>
                        <td><img src="/images/row-2-col-5.jpg"></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="center-align">Tier 3</h3>
                            <h4 class="center-align">Family</h4>
                            <h5 class="center-align">Having Home</h5>
                        </td>
                        <td><img src="/images/row-3-col-1.jpg"></td>
                        <td><img src="/images/row-3-col-2.jpg"></td>
                        <td><img src="/images/row-3-col-3.jpg"></td>
                        <td><img src="/images/row-3-col-4.jpg"></td>
                        <td><img src="/images/row-3-col-5.jpg"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="center-align">Prevention</th>
                        <th class="center-align">Foster Care</th>
                        <th class="center-align">Restoration</th>
                        <th class="center-align">Adoption</th>
                        <th class="center-align">Transition</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="campaign three">
            <h1>Meet Our Sponsors!</h1>
            <h2>Thank You So Much.</h2>
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown three"></div>
        <div id="resources"></div>
        <div id="forms" class="valign-wrapper">
            <div class="card resources">
                <div class="card-content">
                    <span class="card-title">Become A Resource</span>
                    <form action="/resources" method="post" id="resource_form">
                        <div class="row tab one">
                            <h4 class="tab-title">Step 1 of 5: Resource Information</h4>
                            <div class="input-field col m6">
                                <input type="text" name="resourceName" placeholder="Resource Name">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="resourceWebsite" placeholder="Resource Website">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="resourcePhone" placeholder="Resource Phone Number">
                            </div>
                            <div class="input-field col m6">
                                <select name="resourceType">
                                    <option disabled selected>Resource Type</option>
                                    <option value="Business">Business</option>
                                    <option value="Church">Church</option>
                                    <option value="Organization">Organization</option>
                                </select>
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="resourceAddressOne" placeholder="Resource Address One">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="resourceAddressTwo" placeholder="Resource Address Two">
                            </div>
                            <div class="input-field col m5">
                                <input type="text" name="resourceCity" placeholder="Resource City">
                            </div>
                            <div class="input-field col m3">
                                <input type="text" name="resourceState" placeholder="Resource State">
                            </div>
                            <div class="input-field col m4">
                                <input type="text" name="resourceZip" placeholder="Resource Zip">
                            </div>
                            <div class="input-field col m6">
                                <select multiple name="resourceCounties">
                                    <option disabled selected>Resource County(s) of Service</option>
                                    <option value="All Counties">All Counties</option>
                                    <option value="Adair">Adair</option>
                                    <option value="Alfalfa">Alfalfa</option>
                                    <option value="Atoka">Atoka</option>
                                    <option value="Beaver">Beaver</option>
                                    <option value="Beckham">Beckham</option>
                                    <option value="Blaine">Blaine</option>
                                    <option value="Bryan">Bryan</option>
                                    <option value="Caddo">Caddo</option>
                                    <option value="Canadian">Canadian</option>
                                    <option value="Carter">Carter</option>
                                    <option value="Cherokee">Cherokee</option>
                                    <option value="Choctaw">Choctaw</option>
                                    <option value="Cimarron">Cimarron</option>
                                    <option value="Cleveland">Cleveland</option>
                                    <option value="Coal">Coal</option>
                                    <option value="Comanche">Comanche</option>
                                    <option value="Cotton">Cotton</option>
                                    <option value="Craig">Craig</option>
                                    <option value="Creek">Creek</option>
                                    <option value="Custer">Custer</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="Dewey">Dewey</option>
                                    <option value="Ellis">Ellis</option>
                                    <option value="Garfield">Garfield</option>
                                    <option value="Garvin">Garvin</option>
                                    <option value="Grady">Grady</option>
                                    <option value="Grant">Grant</option>
                                    <option value="Greer">Greer</option>
                                    <option value="Harmon">Harmon</option>
                                    <option value="Harper">Harper</option>
                                    <option value="Haskell">Haskell</option>
                                    <option value="Hughes">Hughes</option>
                                    <option value="Jackson">Jackson</option>
                                    <option value="Jefferson">Jefferson</option>
                                    <option value="Johnston">Johnston</option>
                                    <option value="Kay">Kay</option>
                                    <option value="Kingfisher">Kingfisher</option>
                                    <option value="Kiowa">Kiowa</option>
                                    <option value="Latimer">Latimer</option>
                                    <option value="LeFlore">LeFlore</option>
                                    <option value="Lincoln">Lincoln</option>
                                    <option value="Logan">Logan</option>
                                    <option value="Love">Love</option>
                                    <option value="Major">Major</option>
                                    <option value="Marshall">Marshall</option>
                                    <option value="Mayes">Mayes</option>
                                    <option value="McClain">McClain</option>
                                    <option value="McCurtain">McCurtain</option>
                                    <option value="McIntosh">McIntosh</option>
                                    <option value="Murray">Murray</option>
                                    <option value="Muskogee">Muskogee</option>
                                    <option value="Noble">Noble</option>
                                    <option value="Nowata">Nowata</option>
                                    <option value="Okfuskee">Okfuskee</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="Okmulgee">Okmulgee</option>
                                    <option value="Osage">Osage</option>
                                    <option value="Ottawa">Ottawa</option>
                                    <option value="Pawnee">Pawnee</option>
                                    <option value="Payne">Payne</option>
                                    <option value="Pittsburg">Pittsburg</option>
                                    <option value="Pontotoc">Pontotoc</option>
                                    <option value="Pottawatomie">Pottawatomie</option>
                                    <option value="Pushmataha">Pushmataha</option>
                                    <option value="Roger Mills">Roger Mills</option>
                                    <option value="Rogers">Rogers</option>
                                    <option value="Seminole">Seminole</option>
                                    <option value="Sequoyah">Sequoyah</option>
                                    <option value="Stephens">Stephens</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Tillman">Tillman</option>
                                    <option value="Tulsa">Tulsa</option>
                                    <option value="Wagoner">Wagoner</option>
                                    <option value="Washington">Washington</option>
                                    <option value="Washita">Washita</option>
                                    <option value="Woods">Woods</option>
                                    <option value="Woodward">Woodward</option>
                                </select>
                                <span class="helper-text">Select All That Apply.</span>
                            </div>
                            <div class="col m6">
                                <span>Does this resource provide direct services to child welfare?</span>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="areServicesProvided">
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row tab two">
                            <h4 class="tab-title">Step 2 of 5: Form Submitter Information</h4>
                            <div class="input-field col m6">
                                <input type="text" name="submitterName" placeholder="Form Submitter Name (First and Last)">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="submitterRole" placeholder="Form Submitter Role">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="submitterPhone" placeholder="Form Submitter Phone">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="submitterEmail" placeholder="Form Submitter Email">
                            </div>
                            <div class="col m12">
                                <span>Is the person completing this form the resource champion as well?</span>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="isChampion">
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row tab three">
                            <h4 class="tab-title">Step 3 of 5: Resource Champion Information</h4>
                            <div class="input-field col m6">
                                <input type="text" name="championName" placeholder="Resource Champion Name (First and Last)">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="championRole" placeholder="Resource Champion Role">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="championPhone" placeholder="Resource Champion Phone">
                            </div>
                            <div class="input-field col m6">
                                <input type="text" name="championEmail" placeholder="Resource Champion Email">
                            </div>
                        </div>
                        <div class="row tab four">
                            <h4 class="tab-title">Step 4 of 5: Resource Descriptions</h4>
                            <div class="input-field col m12">
                                <textarea name="resourceDescription" rows="6" placeholder="Description of Resource"></textarea>
                            </div>
                            <div class="input-field col m12">
                                <textarea name="servicesProvided" rows="6" placeholder="Description of Services Provided by Resource"></textarea>
                            </div>
                        </div>
                        <div class="row tab five">
                            <h4 class="tab-title">Step 5 of 5: Miscellaneous Questions</h4>
                            <div class="col m6">
                                <span>Is this resource in need of volunteers?</span>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="needVolunteers">
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col m6">
                                <span>Is this resource open to being contacted?</span>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="canContact">
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col m12">
                                <span>Please select all boxes that apply to your resource's areas of service:</span>
                                <select multiple name="gridAreas">
                                    <option disabled selected>Resource Area(s) of Service</option>
                                    <optgroup label="Tier One: Financial">
                                        <option value="One_Prevention">Prevention</option>
                                        <option value="One_Foster Care">Foster Care</option>
                                        <option value="One_Restoration">Restoration</option>
                                        <option value="One_Adoption">Adoption</option>
                                        <option value="One_Transition">Transition</option>
                                    </optgroup>
                                    <optgroup label="Tier Two: Relational">
                                        <option value="Two_Prevention">Prevention</option>
                                        <option value="Two_Foster Care">Foster Care</option>
                                        <option value="Two_Restoration">Restoration</option>
                                        <option value="Two_Adoption">Adoption</option>
                                        <option value="Two_Transition">Transition</option>
                                    </optgroup>
                                    <optgroup label="Tier Three: Familial">
                                        <option value="Three_Prevention">Prevention</option>
                                        <option value="Three_Foster Care">Foster Care</option>
                                        <option value="Three_Restoration">Restoration</option>
                                        <option value="Three_Adoption">Adoption</option>
                                        <option value="Three_Transition">Transition</option>
                                    </optgroup>
                                </select>
                                <span class="helper-text">Select All That Apply.</span>
                            </div>
                            <div class="col m6">
                                <span>Does this resource agree to the More Than Enough Terms of Service?</span>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="termsOfService">
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col m6">
                                <span>Is this resource open to supporting the More Than Enough campaign financially?</span>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="financialSupport">
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="navigation">
                            <a id="previous" class="waves-effect waves-light btn-large previous"></a>
                            <a id="next" class="waves-effect waves-light btn-large next"></a>
                            <input id="submitButton" class ="waves-effect waves-light btn-large submitButton" type="submit" value="Submit Form"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
