<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>More Than Enough - Home</title>
        <!-- Libraries and Dependencies -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
        <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="materialize-css/dist/js/materialize.min.js"></script>
        <!-- Send Stats JSON to Jquery File -->
        <script type='text/javascript'>
            const statsJson = <%- JSON.stringify(data) %>
        </script>
        <!-- Project Assets -->
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/mapdata.js"></script>
        <script type="text/javascript" src="js/statemap.js"></script>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <img src="/images/logo.png">
                    <ul class="right">
                        <li><a>About</a></li>
                        <li><a>Commit</a></li>
                        <li><a>Share Your Story</a></li>
                        <li><a>CarePortal</a></li>
                        <li><a>Resources</a></li>
                        <li><a>Donate</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="banner"></div>
        <div class="campaign one">
            <h1>Why We Are Fighting</h1>
            <h2>for More Than Enough</h2>
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown one"></div>
        <div id="stats">
            <h1 class="center-align">Understanding the Stats</h1>
            <div id="map"></div>
            <div id="statsmodal" class="modal bottom-sheet"></div>
        </div>
        <div class="campaign two">
            <h1>How Close Are We?</h1>
            <h2>Track Our Progress.</h2>
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown two"></div>
        <div id="grid">
            <h1 class="center-align">Understanding the Grid</h1>
            <table class="right-align">
                <thead>
                    <tr>
                        <th></th>
                        <th class="center-align">Prevention</th>
                        <th class="center-align">Foster Care</th>
                        <th class="center-align">Restoration</th>
                        <th class="center-align">Adoption</th>
                        <th class="center-align">Transition</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3 class="center-align">Tier 1</h3>
                            <h4 class="center-align">Physical</h4>
                            <h5 class="center-align">Investing In</h5>
                        </td>
                        <td><img src="/images/row-1-col-1.jpg"></td>
                        <td><img src="/images/row-1-col-2.jpg"></td>
                        <td><img src="/images/row-1-col-3.jpg"></td>
                        <td><img src="/images/row-1-col-4.jpg"></td>
                        <td><img src="/images/row-1-col-5.jpg"></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="center-align">Tier 2</h3>
                            <h4 class="center-align">Relational</h4>
                            <h5 class="center-align">Walking With</h5>
                        </td>
                        <td><img src="/images/row-2-col-1.jpg"></td>
                        <td><img src="/images/row-2-col-2.jpg"></td>
                        <td><img src="/images/row-2-col-3.jpg"></td>
                        <td><img src="/images/row-2-col-4.jpg"></td>
                        <td><img src="/images/row-2-col-5.jpg"></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="center-align">Tier 3</h3>
                            <h4 class="center-align">Family</h4>
                            <h5 class="center-align">Having Home</h5>
                        </td>
                        <td><img src="/images/row-3-col-1.jpg"></td>
                        <td><img src="/images/row-3-col-2.jpg"></td>
                        <td><img src="/images/row-3-col-3.jpg"></td>
                        <td><img src="/images/row-3-col-4.jpg"></td>
                        <td><img src="/images/row-3-col-5.jpg"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="center-align">Prevention</th>
                        <th class="center-align">Foster Care</th>
                        <th class="center-align">Restoration</th>
                        <th class="center-align">Adoption</th>
                        <th class="center-align">Transition</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="campaign three">
            <h1>Meet Our Sponsors!</h1>
            <h2>Thank You So Much.</h2>
            <i class="white-text large material-icons">keyboard_arrow_down</i>
        </div>
        <div class="dropdown three"></div>
        <div id="resources"></div>
        <div id="forms"></div>
    </body>
</html>
