/* ------ Variables ------ */
/* ------ Global ------ */
* {
  font-family: 'Molengo', sans-serif; }

/* ------ Navbar ------ */
.navbar-fixed nav {
  background-color: #37abcb; }
  .navbar-fixed nav .nav-wrapper img {
    margin: 11px; }
  .navbar-fixed nav .nav-wrapper ul li a {
    font-weight: 500;
    font-size: 1.4rem; }

/* ------ Banner ------ */
#banner {
  height: calc(99vh - 56px);
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/images/banner.jpg"); }

/* ------ Campaign / Dropdowns ------ */
.campaign {
  height: 65vh;
  padding-top: 4rem;
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .campaign.one {
    background-image: url("/images/campaign_one.jpg"); }
  .campaign.two {
    background-image: url("/images/campaign_two.jpg"); }
  .campaign.three {
    background-image: url("/images/campaign_three.jpg"); }
  .campaign h1 {
    color: white;
    font-size: 5rem;
    font-family: 'Cabin Sketch', cursive; }
  .campaign h2 {
    color: white; }
  .campaign i {
    bottom: 2.5%;
    cursor: pointer;
    position: absolute;
    margin-left: -3rem; }

.dropdown {
  height: 65vh;
  display: none;
  background-color: #34393d; }

/* ------ Stats ------ */
#stats h1 {
  color: #37abcb;
  font-size: 4rem;
  font-family: 'Cabin Sketch', cursive; }
#stats #map {
  margin: auto;
  max-width: 90%;
  height: calc(99vh - 56px); }
  #stats #map tspan, #stats #map #stats_outer, #stats #map #stats_zoom {
    display: none; }
#stats #statsmodal {
  max-height: 65vh; }
  #stats #statsmodal .modal-content h2 {
    color: #37abcb;
    font-size: 3rem;
    font-family: 'Cabin Sketch', cursive; }
  #stats #statsmodal .modal-content table thead tr th {
    color: #37abcb;
    font-size: 1.5rem; }
  #stats #statsmodal .modal-content table tbody tr td {
    font-size: 1.3rem; }

/* ------ Grid ------ */
#grid h1 {
  color: #37abcb;
  font-size: 4rem;
  font-family: 'Cabin Sketch', cursive; }
#grid table {
  width: auto;
  margin: auto;
  border-collapse: unset; }
  #grid table thead tr th {
    color: #37abcb;
    font-weight: 800;
    font-size: 1.5rem;
    padding-top: 1rem; }
  #grid table tbody tr td {
    padding: 0 .4rem .4rem 0; }
    #grid table tbody tr td h3 {
      margin: 0;
      color: #37abcb;
      font-weight: 500;
      font-size: 2.25rem; }
    #grid table tbody tr td h4 {
      margin: .75rem 0;
      font-size: 1.75rem; }
    #grid table tbody tr td h5 {
      font-size: 1.5rem; }
    #grid table tbody tr td img {
      width: 15vw;
      vertical-align: top; }
    #grid table tbody tr td:first-of-type {
      padding-right: 1.5rem; }
  #grid table tbody tr th {
    color: #37abcb;
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 4rem; }
  #grid table tbody tr:nth-of-type(3) td {
    padding: 0 .4rem 0 0; }

/* ------ Resources ------ */
/* ------ Forms ------ */
#forms {
  height: calc(99vh - 56px);
  display: flex;
  justify-content: space-around;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/images/forms.jpg"); }
  #forms .input-field input[type=text]:focus {
    border-bottom: 1px solid #37abcb;
    box-shadow: 0 1px 0 0 #37abcb; }
  #forms .switch label input[type=checkbox]:checked + .lever {
    background-color: #37abcb; }
  #forms .switch label input[type=checkbox]:checked + .lever:after {
    background-color: #37abcb; }
  #forms .select-dropdown li.disabled > span {
    color: #9e9e9e; }
  #forms .dropdown-content li > span {
    color: #37abcb; }
    #forms .dropdown-content li > span label {
      color: #37abcb; }
  #forms .dropdown-content li.disabled > span label {
    color: #9e9e9e; }
  #forms [type="checkbox"]:checked + span:not(.lever):before {
    border-right-color: #37abcb;
    border-bottom-color: #37abcb; }
  #forms [type="checkbox"]:checked:disabled + span:before {
    border-right-color: #9e9e9e;
    border-bottom-color: #9e9e9e; }
  #forms .select-dropdown li.optgroup > span {
    color: #9e9e9e; }
  #forms .select-wrapper input.select-dropdown:focus {
    border-bottom-color: #37abcb; }
  #forms .resources {
    width: 80%;
    height: 85%;
    overflow: hidden; }
    #forms .resources .card-content {
      height: 100%;
      position: relative; }
      #forms .resources .card-content .card-title {
        margin: 0;
        color: #37abcb;
        font-size: 3rem;
        font-family: 'Cabin Sketch', cursive; }
      #forms .resources .card-content form .row, #forms .resources .card-content form .tab {
        display: none; }
        #forms .resources .card-content form .row .tab-title, #forms .resources .card-content form .tab .tab-title {
          font-size: 1.5rem; }
        #forms .resources .card-content form .row .input-field, #forms .resources .card-content form .tab .input-field {
          margin: 0 0 .5rem 0; }
          #forms .resources .card-content form .row .input-field textarea, #forms .resources .card-content form .tab .input-field textarea {
            height: 8.5rem; }
        #forms .resources .card-content form .row .col label, #forms .resources .card-content form .tab .col label {
          font-size: 1rem; }
        #forms .resources .card-content form .row .col span, #forms .resources .card-content form .tab .col span {
          font-size: 1.15rem; }
        #forms .resources .card-content form .row.five .col, #forms .resources .card-content form .tab.five .col {
          margin-bottom: 3rem; }
        #forms .resources .card-content form .row .helper-text, #forms .resources .card-content form .tab .helper-text {
          margin-bottom: 1rem;
          color: #9e9e9e; }
      #forms .resources .card-content .navigation {
        right: calc(.75rem + 24px);
        bottom: 24px;
        position: absolute; }
        #forms .resources .card-content .navigation a {
          font-size: 1.35rem;
          display: inline-block;
          background-color: #37abcb;
          text-transform: capitalize; }
          #forms .resources .card-content .navigation a.previous {
            background-color: #34393d; }

/*# sourceMappingURL=index.css.map */
