/* ------ Variables ------ */
/* ------ Global ------ */
html, body {
  max-width: 100%;
  overflow-x: hidden; }

* {
  font-family: "Molengo", sans-serif; }

h1 {
  font-size: 4rem;
  font-family: "Cabin Sketch", cursive; }
  @media (max-width: 670px) {
    h1 {
      font-size: 38px; } }

h2 {
  font-size: 4rem; }

.select-wrapper input.select-dropdown {
  width: calc(100% - 30px); }

/* ------ Navigation ------ */
.navbar-fixed nav {
  background-color: #37abcb; }
  .navbar-fixed nav .nav-wrapper img {
    padding-left: 15px;
    vertical-align: middle; }
  .navbar-fixed nav .nav-wrapper .sidenav-trigger {
    cursor: pointer; }
    .navbar-fixed nav .nav-wrapper .sidenav-trigger i {
      font-size: 44px; }
  .navbar-fixed nav .nav-wrapper ul li a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #37abcb; }

.sidenav {
  background-color: #37abcb; }
  .sidenav li > a.btn {
    font-size: 20px;
    color: #37abcb; }

/* ------ Banner ------ */
#banner {
  position: relative;
  height: calc(100vh - 56px); }
  #banner #inside-banner {
    top: 29vh;
    width: 100vw;
    position: absolute; }
    #banner #inside-banner h1 {
      margin: 0 auto; }
      @media (max-width: 670px) {
        #banner #inside-banner h1 {
          text-transform: uppercase; } }
    #banner #inside-banner a {
      font-size: 20px;
      margin-bottom: 2vh;
      background-color: #37abcb;
      text-transform: capitalize; }
      @media (min-width: 670px) {
        #banner #inside-banner a:first-of-type {
          margin-right: 2%; } }
  #banner #bottom-banner {
    bottom: 0;
    width: 100%;
    position: absolute; }
    #banner #bottom-banner i {
      cursor: pointer;
      font-weight: bold; }

/* ------ Banner Video ------ */
#vimeo-container {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden; }
  #vimeo-container iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* ------ Current Stats ------ */
#current-stats {
  margin: 0;
  background-color: #37abcb; }
  #current-stats .col {
    padding: 0; }
  #current-stats h1 {
    font-size: 3rem;
    margin: 20px 0 0 0;
    display: inline-block; }
    @media (max-width: 450px) {
      #current-stats h1 {
        font-size: 2.5rem; } }
  #current-stats h5 {
    margin: 0 0 20px 0; }

/* ------ Dropdown Sections ------ */
.dropdown-section-header {
  height: 35vw;
  padding-top: 5vw;
  min-height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .dropdown-section-header.one {
    background-image: url("/images/campaign_one.jpg"); }
  .dropdown-section-header.two {
    background-image: url("/images/campaign_two.jpg"); }
  .dropdown-section-header.three {
    background-image: url("/images/campaign_three.jpg"); }
  @media (max-width: 670px) {
    .dropdown-section-header h1, .dropdown-section-header h2 {
      font-size: 40px; } }
  .dropdown-section-header .learn-more {
    bottom: 0;
    width: 100%;
    position: absolute; }
    .dropdown-section-header .learn-more p {
      margin: 0 0 -25px 0; }
    .dropdown-section-header .learn-more i {
      cursor: pointer; }

.dropdown-section-content {
  display: none;
  padding: 2.5% 5% 5% 5%;
  background-color: #34393d; }
  .dropdown-section-content.one div {
    font-size: 17px;
    white-space: pre-line; }
    .dropdown-section-content.one div .row {
      margin: 0; }
    .dropdown-section-content.one div strong {
      font-size: 20px;
      color: #37abcb; }
  .dropdown-section-content.two {
    padding-top: 5%; }
    .dropdown-section-content.two .row {
      margin: 0; }
      .dropdown-section-content.two .row .collapsible {
        margin: 0; }
        .dropdown-section-content.two .row .collapsible .collapsible-header {
          border: none;
          color: white;
          font-size: 24px;
          background-color: #37abcb; }
          .dropdown-section-content.two .row .collapsible .collapsible-header h5 {
            margin: 5px 0; }
          .dropdown-section-content.two .row .collapsible .collapsible-header i {
            font-size: 2.5rem;
            font-weight: bold; }
        .dropdown-section-content.two .row .collapsible .collapsible-body {
          border: none;
          background-color: white; }
          .dropdown-section-content.two .row .collapsible .collapsible-body span {
            font-size: 17px;
            color: #37abcb;
            white-space: pre-line; }
      .dropdown-section-content.two .row li.active i {
        transform: rotate(180deg); }
  .dropdown-section-content.three {
    padding: 2.5% 5%; }
    .dropdown-section-content.three div {
      font-size: 18px; }

/* ------ Sponsors ------ */
#sponsors {
  width: 100%;
  padding: 3vh 3vw; }
  #sponsors h1 {
    margin-top: 0;
    color: #37abcb; }
  #sponsors .slick-prev:before, #sponsors .slick-next:before {
    opacity: 1;
    color: #37abcb; }
  #sponsors .slick-dots {
    margin-bottom: -10px; }
  #sponsors .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #37abcb; }
  #sponsors .slick-dots li button:before {
    font-size: 12px;
    color: #37abcb; }
  #sponsors img {
    height: 100px;
    max-width: 150px;
    margin: auto;
    display: inline-block; }

/* ------ Stats ------ */
#stats {
  padding: 5vh 0 3vh 0; }
  #stats h1 {
    margin-top: 0;
    color: #37abcb; }
  #stats #map {
    max-width: 90%;
    height: 100%;
    margin: 0 auto 0 auto; }
    #stats #map tspan, #stats #map #stats_outer, #stats #map #stats_zoom {
      display: none; }
  #stats #statsmodal {
    max-height: 65vh; }
    #stats #statsmodal .modal-content h2 {
      margin-bottom: 0;
      color: #37abcb;
      font-family: "Cabin Sketch", cursive; }
    #stats #statsmodal .modal-content a {
      background-color: #37abcb; }
    #stats #statsmodal .modal-content table thead tr th {
      font-size: 1.5rem;
      color: #37abcb; }
    #stats #statsmodal .modal-content table tbody tr td {
      font-size: 1.3rem; }

/* ------ Family Form ------ */
#church-form, #family-form {
  margin: 0;
  height: auto;
  padding: 3vh 5vh 3vh 5vh;
  background-color: #37abcb; }
  #church-form .input-field input[type=text], #family-form .input-field input[type=text] {
    color: white;
    font-size: 16px;
    box-shadow: 0 1px 0 0 white;
    border-bottom: 1px solid white; }
  #church-form .input-field input[type=text]:focus, #family-form .input-field input[type=text]:focus {
    color: white;
    font-size: 16px;
    box-shadow: 0 1px 0 0 white;
    border-bottom: 1px solid white; }
  #church-form .select-dropdown li.disabled > span, #family-form .select-dropdown li.disabled > span {
    color: #9e9e9e; }
  #church-form .dropdown-content li > span, #family-form .dropdown-content li > span {
    color: #37abcb; }
    #church-form .dropdown-content li > span label, #family-form .dropdown-content li > span label {
      color: #37abcb; }
  #church-form .dropdown-content li.disabled > span label, #family-form .dropdown-content li.disabled > span label {
    color: #9e9e9e; }
  #church-form h1, #family-form h1 {
    margin: 0 0 2vh 0; }
  #church-form h6, #family-form h6 {
    font-size: 1.3rem;
    margin: 0;
    padding: 2px; }
    #church-form h6.error, #family-form h6.error {
      color: #e53935;
      background-color: #ffcdd2;
      border-left: 1px solid #e53935;
      border-right: 1px solid #e53935;
      border-bottom: 1px solid #e53935; }
      #church-form h6.error:first-of-type, #family-form h6.error:first-of-type {
        border-top: 1px solid #e53935; }
    #church-form h6.success, #family-form h6.success {
      font-size: 1.5rem;
      color: #2e7d32;
      background-color: #b9f6ca;
      border-left: 1px solid #2e7d32;
      border-right: 1px solid #2e7d32;
      border-bottom: 1px solid #2e7d32; }
      #church-form h6.success:first-of-type, #family-form h6.success:first-of-type {
        border-top: 1px solid #2e7d32; }
  #church-form p, #family-form p {
    font-size: 18px; }
  #church-form form ::placeholder, #family-form form ::placeholder {
    color: white; }
  #church-form form button, #family-form form button {
    font-size: 24px;
    color: #37abcb;
    font-family: "Molengo", sans-serif;
    text-transform: capitalize; }
    @media (min-width: 670px) {
      #church-form form button, #family-form form button {
        width: 40%; } }

/* ------ Grid ------ */
#grid {
  padding-top: 5vh; }
  #grid h1 {
    margin-top: 0;
    color: #37abcb; }
  #grid #links {
    margin: 15px auto;
    width: fit-content; }
    #grid #links a {
      font-size: 20px;
      color: #37abcb;
      text-decoration: underline; }
      #grid #links a:first-of-type {
        margin-right: 30px; }
  #grid table {
    width: auto;
    margin: auto;
    border-collapse: unset; }
    #grid table thead tr th {
      color: #37abcb;
      font-weight: 800;
      font-size: 1.5rem;
      padding-top: 1rem; }
    #grid table tbody tr td {
      padding: 0 .4rem .4rem 0; }
      #grid table tbody tr td h3 {
        margin: 0;
        color: #37abcb;
        font-weight: 500;
        font-size: 2.25rem; }
      #grid table tbody tr td h4 {
        margin: .75rem 0;
        font-size: 1.75rem; }
      #grid table tbody tr td h5 {
        font-size: 1.5rem; }
      #grid table tbody tr td img {
        width: 15vw;
        vertical-align: top; }
      #grid table tbody tr td:first-of-type {
        padding-right: 1.5rem; }
    #grid table tbody tr th {
      color: #37abcb;
      font-weight: 800;
      font-size: 1.5rem;
      padding-bottom: 4rem; }
    #grid table tbody tr:nth-of-type(3) td {
      padding: 0 .4rem 0 0; }
  #grid .flip {
    width: 15vw;
    height: 15vw;
    margin: 0 auto; }
  #grid .flip img {
    width: 15vw;
    height: auto; }
  #grid .flip .back {
    position: relative;
    background-color: #37abcb; }
    #grid .flip .back h3 {
      margin: auto;
      cursor: pointer;
      font-size: 2.5vw; }
      #grid .flip .back h3:hover {
        text-decoration: underline; }
    #grid .flip .back h6 {
      bottom: 0;
      right: 10px;
      cursor: pointer;
      font-size: 1.75vw;
      position: absolute; }
      #grid .flip .back h6:hover {
        text-decoration: underline; }
  #grid #gridmodal {
    max-height: 65vh; }
    #grid #gridmodal .modal-content h2 {
      font-size: 3rem;
      color: #37abcb;
      font-family: "Cabin Sketch", cursive; }
    #grid #gridmodal .modal-content p {
      font-size: 1.3rem; }
      #grid #gridmodal .modal-content p strong {
        color: #37abcb; }

/* ------ Resources ------ */
#resources {
  margin: 0;
  height: auto;
  padding: 3vh 5vh 3vh 5vh;
  background-color: #37abcb; }
  #resources .select-wrapper .caret {
    fill: #ffffff; }
  #resources [type="checkbox"]:checked + span:not(.lever):before {
    border-bottom-color: #37abcb;
    border-right-color: #37abcb; }
  #resources .input-field input[type=text] {
    color: white;
    box-shadow: 0 1px 0 0 white;
    border-bottom: 1px solid white; }
  #resources .input-field input[type=text]:focus {
    color: white;
    box-shadow: 0 1px 0 0 white;
    border-bottom: 1px solid white; }
  #resources .select-dropdown li.disabled > span {
    color: #9e9e9e; }
  #resources .dropdown-content li > span {
    color: #37abcb; }
    #resources .dropdown-content li > span label {
      color: #37abcb; }
  #resources .dropdown-content li.disabled > span label {
    color: #9e9e9e; }
  #resources .select-dropdown li.optgroup > span {
    color: #9e9e9e; }
  #resources .select-wrapper input.select-dropdown:focus {
    border-bottom-color: #37abcb; }
  #resources h1 {
    margin: 0 0 3vh 0; }
  #resources form ::placeholder {
    color: white; }
  #resources form .input-field {
    margin: 0;
    width: 22.5%;
    padding: 0 .25rem;
    vertical-align: top;
    display: inline-block; }
  #resources form .input-field:last-of-type {
    width: auto;
    margin-top: -1rem; }
  #resources form #findResourcesSubmitButton {
    font-size: 1.35rem;
    color: #37abcb;
    font-family: "Molengo", sans-serif;
    text-transform: capitalize; }
  #resources #resourcesmodal {
    max-height: 65vh; }
    #resources #resourcesmodal .modal-content h2 {
      font-size: 3rem;
      text-align: left;
      color: #37abcb;
      font-family: "Cabin Sketch", cursive; }
    #resources #resourcesmodal .modal-content table thead tr th {
      color: #37abcb;
      font-size: 1.5rem; }
    #resources #resourcesmodal .modal-content table tbody tr td {
      font-size: 1.3rem; }
      #resources #resourcesmodal .modal-content table tbody tr td a {
        color: #37abcb;
        cursor: pointer; }
        #resources #resourcesmodal .modal-content table tbody tr td a:hover {
          text-decoration: underline; }

/* ------ Resource Partner Form ------ */
#resourceForm {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: space-around;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/images/forms.jpg"); }
  #resourceForm .input-field input[type=text]:focus {
    border-bottom: 1px solid #37abcb;
    box-shadow: 0 1px 0 0 #37abcb; }
  #resourceForm .switch label input[type=checkbox]:checked + .lever {
    background-color: #37abcb; }
  #resourceForm .switch label input[type=checkbox]:checked + .lever:after {
    background-color: #37abcb; }
  #resourceForm .select-dropdown li.disabled > span {
    color: #9e9e9e; }
  #resourceForm .dropdown-content li > span {
    color: #37abcb; }
    #resourceForm .dropdown-content li > span label {
      color: #37abcb; }
  #resourceForm .dropdown-content li.disabled > span label {
    color: #9e9e9e; }
  #resourceForm [type="checkbox"]:checked + span:not(.lever):before {
    border-right-color: #37abcb;
    border-bottom-color: #37abcb; }
  #resourceForm [type="checkbox"]:checked:disabled + span:before {
    border-right-color: #9e9e9e;
    border-bottom-color: #9e9e9e; }
  #resourceForm .select-dropdown li.optgroup > span {
    color: #9e9e9e; }
  #resourceForm .select-wrapper input.select-dropdown:focus {
    border-bottom-color: #37abcb; }
  #resourceForm .resources {
    width: 80%;
    height: 85%; }
    #resourceForm .resources .card-content {
      height: 100%;
      position: relative; }
      #resourceForm .resources .card-content .card-title {
        margin: 0;
        font-size: 3rem;
        color: #37abcb;
        font-family: "Cabin Sketch", cursive; }
      #resourceForm .resources .card-content form ::placeholder {
        color: black; }
      #resourceForm .resources .card-content form .row, #resourceForm .resources .card-content form .tab {
        display: none; }
        #resourceForm .resources .card-content form .row .tab-title, #resourceForm .resources .card-content form .tab .tab-title {
          font-size: 1.5rem; }
        #resourceForm .resources .card-content form .row .input-field, #resourceForm .resources .card-content form .tab .input-field {
          margin: 0 0 .5rem 0; }
          #resourceForm .resources .card-content form .row .input-field textarea, #resourceForm .resources .card-content form .tab .input-field textarea {
            height: 8.5rem; }
        #resourceForm .resources .card-content form .row .col label, #resourceForm .resources .card-content form .tab .col label {
          color: black;
          font-size: 1rem; }
        #resourceForm .resources .card-content form .row.five .col, #resourceForm .resources .card-content form .tab.five .col {
          margin-bottom: 3rem; }
        #resourceForm .resources .card-content form .row.five em, #resourceForm .resources .card-content form .tab.five em {
          cursor: pointer;
          color: #37abcb; }
          #resourceForm .resources .card-content form .row.five em:hover, #resourceForm .resources .card-content form .tab.five em:hover {
            text-decoration: underline; }
        #resourceForm .resources .card-content form .row .helper-text, #resourceForm .resources .card-content form .tab .helper-text {
          font-size: .75rem;
          margin-bottom: 1rem;
          color: #9e9e9e; }
      #resourceForm .resources .card-content form .tab.one .input-field:nth-of-type(10) ul {
        height: 375px; }
      #resourceForm .resources .card-content form .tab.five ul {
        height: 300px; }
      #resourceForm .resources .card-content form .navigation {
        right: calc(.75rem + 24px);
        bottom: 24px;
        position: absolute; }
        #resourceForm .resources .card-content form .navigation a {
          font-size: 1.35rem;
          display: inline-block;
          background-color: #37abcb;
          text-transform: capitalize; }
          #resourceForm .resources .card-content form .navigation a.previous {
            background-color: #34393d; }
        #resourceForm .resources .card-content form .navigation i {
          float: right;
          background-color: #37abcb;
          margin-left: .25rem; }
          #resourceForm .resources .card-content form .navigation i #submitButton {
            color: white;
            cursor: pointer;
            font-family: "Molengo", sans-serif;
            font-size: 1.35rem;
            text-transform: capitalize; }

#termsofservice .modal-footer {
  height: fit-content; }
  #termsofservice .modal-footer button {
    background-color: #37abcb; }

#contact-form .input-field {
  margin: 0; }
#contact-form .input-field input[type='text']:focus {
  border-bottom: 1px solid #37abcb;
  box-shadow: 0 1px 0 0 #37abcb; }
#contact-form .modal-content {
  margin: 0; }
#contact-form textarea {
  height: 8.5rem;
  margin: 1rem 0; }
#contact-form h4 {
  color: #37abcb; }
#contact-form #contact-button {
  background-color: #37abcb; }

#message-modal.success {
  border: 3px solid green; }
  #message-modal.success h4 {
    color: green; }
  #message-modal.success a {
    font-size: 1.3rem;
    color: green;
    text-decoration: underline; }
#message-modal.errors {
  border: 3px solid red; }
  #message-modal.errors h4 {
    color: red; }
  #message-modal.errors a {
    font-size: 1.3rem;
    color: red;
    text-decoration: underline; }

/*# sourceMappingURL=index.css.map */
