<div class="dropdown-section-header <%= number %> white-text center-align">
    <%- include('headers/' + number) %>
    <div class="learn-more">
        <p>Learn More</p>
        <i class="white-text large material-icons">keyboard_arrow_down</i>
    </div>
</div>
<div class="dropdown-section-content <%= number %>">
    <%- include('content/' + number) %>
</div>