<div class="dropdown-header <%= number %>">
    <%- include('headers/' + number) %>
    <i class="white-text large material-icons">keyboard_arrow_down</i>
</div>
<div class="dropdown-content <%= number %>"></div>