<td id="<%= point %>">
    <div class="flip">
        <div class="front">
            <img src="/images/<%= point %>.jpg">
        </div>
        <div class="back valign-wrapper">
            <h3></h3>
        </div>
    </div>
</td>