<td id="<%= point %>">
    <div class="flip">
        <div class="front">
            <img src="/images/<%= point %>.jpg">
        </div>
        <div class="back valign-wrapper center-align">
            <h3 class="white-text"></h3>
            <h6 class="white-text">Learn More »</h6>
        </div>
    </div>
</td>