<h1>How Can We Help?</h1>
<div class="selector">
    <h2 class="ah-headline">
        <span>Pledge </span>
        <span class="ah-words-wrapper">
            <b class="is-visible">the pulpit.</b>
            <b>a point person.</b>
            <b>the portal.</b>
            <b>to pray.</b>
        </span>
    </h1>
</div>