<div>
    <strong>The mission of the local church is to proclaim and display the gospel to the whole world seeking to see Jesus’s kingdom on earth as it is in heaven. One significant way scripture challenges us to do this is by identifying injustices and alleviate suffering by loving our neighbors as ourselves. The case in scripture is made plain in passages like James 1:27, Psalms 68:5-6, and Matthew 25:35-40.</strong>
    <br>
    The reality is that in every community across Oklahoma, there are children and families in crisis, but there are also local churches willing and able to assist those in need. The 111Project bridges the gap between resources and needs by equipping local churches to engage directly with the issue of foster care—through prayer,resources, volunteer engagement, and family recruitment.
    <br>
    There are more than 6200 churches in Oklahoma. Our goal is to see 1,000 Oklahoma churches provide more than enough families and resources to alleviate the crisis of foster care in our state. We need families waiting on children, so children don’t have to wait for families. We need to meet physical needs, so that emotional needs can be met too. We need to lift up and serve our OKDHS caseworkers, so that they are able to meet the demands of their jobs. County by county, we’re calling churches and businesses to work together and do something more for the kids and families in your communities. With your leadership, we believe we can accomplish this vision of ending the child welfare crisis by 2022.
    <br>
    <strong><em>Commit your church to be a part of the movement to end the child welfare crisis in Oklahoma!</em></strong>
</div>