<div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#tab1">Pulpit</a></li>
                <li class="tab col s3"><a href="#tab2">Point Person</a></li>
                <li class="tab col s3"><a href="#tab3">Portal</a></li>
                <li class="tab col s3"><a href="#tab4">Pray</a></li>
            </ul>
        </div>
        <div id="tab1" class="col s12">
            We ask every church to commit at least one Sunday a year to advocating to see that every child has a family as part of a Sunday morning service.  There are lots of ways to make it fit in an annual church calendar and adjust the day to meet the needs of your congregation.  We know that if every church makes this commitment we can solve this crisis together.  Ultimately, we believe this is a biblical directive of discipleship.
        </div>
        <div id="tab2" class="col s12">
            Biblical hospitality to strangers is a call for all believers, but we also recognize it does not happen without intentionality. We ask each church to commit to recruit a point person—staff or volunteer—who will interface regularly with the 111Project to help families engage and facilitate regularly support of foster care initiatives within your church, such as recruitment meetings and meeting Care Portal requests.
        </div>
        <div id="tab3" class="col s12">
            If these same 1000 churches committed to assist one family in crisis every month through the 111Project CarePortal network there would be more than enough support for biological, foster, and adoptive families and the children who have found themselves in the child welfare system at no fault of their own.  Learn more about where you can help through the Grid and the Directory below.  Could the church be seen living out James 1:27 in a beautiful diverse set of ways.
        </div>
        <div id="tab4" class="col s12">
            If these 1000 churches committed to pray for an end to this crisis what we know is that God’s Spirit would move with power and freedom in an anointing that only comes when His people come together unified.
        </div>
      </div>
</div>