<div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible popout">
                <li class="active">
                    <div class="collapsible-header">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <h5>Pledge to Pray</h4>
                    </div>
                    <div class="collapsible-body">
                        <span>Jesus taught us to pray for His kingdom to come and His will be done on earth as it is in heaven. We believe there is not a simpler unifying and rallying issue for the church to pray about then the welfare of children and families. Passages like 2 Chronicles 7:14 &amp; Jeremiah 29:7 talk about a God who wants to bring healing and welfare to a unified community that prays. 111Project through CarePortal requests and weekly updates is calling the church to pray about individual real time needs but then also community wide challenges. Would your church be committed to pray for transformation in child welfare?</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <h5>Pledge a Point Person</h4>
                    </div>
                    <div class="collapsible-body">
                        <span>The scripture challenges us in Hebrews 10:24 to consider how to spur one another on to love and good deeds. We recognize this does not happen without intentionality. We ask each church to commit to recruit at least one-point person—staff or volunteer—who will interface regularly with the 111Project to help families engage and facilitate regular support of foster care initiatives within your church. This point person helps us mobilize your church to action through opportunities for praying, giving, volunteering, and opening your home in response to the child welfare crisis. 111Project uses the CarePortal platform to facilitate many of these opportunities.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <h5>Pledge the Portal</h4>
                    </div>
                    <div class="collapsible-body">
                        <span>111Project’s CarePortal is an online platform that brings the needs of hurting children and families in your community to your attention. Caseworkers at partner agencies uncover the needs. CarePortal makes local churches aware, giving them a real-time opportunity to respond. If 1000 churches committed to assist one family in crisis every month through the 111Project CarePortal network there would be more than enough support for biological, foster, and adoptive families and the children who have found themselves in the child welfare system at no fault of their own. Learn more about opportunities and places to serve as a part of the Oklahoma network below. Could the church be seen living James 1:27 in a beautiful diverse set of ways.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <h5>Pledge the Pulpit</h4>
                    </div>
                    <div class="collapsible-body">
                        <span>We ask every church to commit at least one Sunday a year to advocating to see that every child has a family as part of their weekly services. There are lots of ways to make this fit in an annual church calendar, but we know without meaningful intentionality by local church leadership the body of Christ will not be mobilized. We know that if every church makes this commitment, we can solve this crisis together in every community. 111Project would be honored to support and partner with you with resources, videos, training, and action plans to help you mobilize your congregation in a deeper and more impactful way. 111Project believes this ministry is less about solving the child welfare crisis and more about helping the local church make disciples that follow Jesus. Romans 10:14-15</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <h5>Pledge for the Purpose</h4>
                    </div>
                    <div class="collapsible-body">
                        <span>Would you join us in this purpose? To mobilize the local church to see that every child has a family. We believe that some of the biggest displays of the gospel at work is the local church uniting and solving what seems to be unsolvable. We know this work will be difficult, it will be messy, and it can’t be done alone by any one congregation in any community. It will take leadership from a core group of community orientated congregations. We believe these efforts will lead to the sanctification and unity of the body of Christ in a pure undefiled way that only comes when we work together to serve vulnerable children and families as we would if we were serving Jesus. Matthew 25:35-36. 
                            
                        Simply if 1000 of our 6200 churches committed to recruit and support 1 family every year for this purpose of foster care in Oklahoma we see a shortage of families in Oklahoma resolved. If these same 1000 churches helped support and connect to 1 family every month through our CarePortal platform we see a community engaged to see children and families who are involved in child welfare supported. This is the heartbeat of 111Project. 1 Church 1 Family 1 Purpose.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a id="church-list-trigger" class="waves-effect waves-light btn-large">Churches That Have Pledged</a>
    <div id="churchesmodal" class="modal bottom-sheet"></div>
</div>