/* ------ Variables ------ */

$darkgray: #34393d;
$lightgray: #9e9e9e;
$primaryColor: #37abcb;
$fullheight: calc(100vh - 56px);
$primaryFont: 'Molengo', sans-serif;
$headerFont: 'Cabin Sketch', cursive;


/* ------ Global ------ */

* {
    font-family: $primaryFont;
}
h1 {
    font-size: 4rem;
    font-family: $headerFont;
    @media (max-width: 670px) {
        font-size: 38px;
    }
}
h2 {
    font-size: 4rem;
}


/* ------ Navigation ------ */

.navbar-fixed {
    nav {
        background-color: $primaryColor;

        .nav-wrapper {
            img {
                padding-left: 15px;
                vertical-align: middle;
            }
            .sidenav-trigger {
                cursor: pointer;

                i {
                    font-size: 44px;
                }
            }
            ul {
                li {
                    a {
                        font-weight: 500;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

.sidenav {
    background-color: $primaryColor;

    li {
        a {
            color: white;
            font-size: 20px;
        }
    }
}


/* ------ Banner ------ */

#banner {
    position: relative;
    height: $fullheight;
    background-size: cover;
    background-image: url('/images/banner.jpg');

    div {
        top: 25vh;
        width: 100vw;
        position: absolute;

        h1 {
            margin: 0 auto;
            color: white;
            text-align: center;

            @media(max-width: 670px) {
                text-transform: uppercase;
            }
        }
        a {
            font-size: 20px;
            margin-bottom: 2vh;
            color: $primaryColor;
            background-color: white;
            text-transform: capitalize;
    
            &:first-of-type {
                margin-right: 1%;
            }
        }
    }
}


/* ------ Family Form ------ */

#family-form {
    margin: 0;
    height: auto;
    padding: 3vh 5vh 3vh 5vh;
    background-color: $primaryColor;

    .input-field input[type=text] {
        color: white;
        font-size: 16px;
        box-shadow: 0 1px 0 0 white;
        border-bottom: 1px solid white;
    }
    .input-field input[type=text]:focus {
        color: white;
        font-size: 16px;
        box-shadow: 0 1px 0 0 white;
        border-bottom: 1px solid white;
    }

    h1 {
        margin: 0 0 2vh 0;
        color: white;
    }
    p {
        color: white;
        font-size: 18px;
    }
    form {
        ::placeholder {
            color: white;
        }
        button {
            font-size: 20px;
            color: $primaryColor;
            background-color: white;
            font-family: $primaryFont;
            text-transform: capitalize;
        }
    }
}


/* ------ Dropdown Sections ------ */

.dropdown-section-header {
    height: 35vw;
    padding-top: 5vw;
    min-height: 300px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &.one {
        background-image: url('/images/campaign_one.jpg');
    }
    &.two {
        background-image: url('/images/campaign_two.jpg');
    }
    &.three {
        background-image: url('/images/campaign_three.jpg');
    }
    
    h1, h2 {
        color: white;
        @media (max-width: 670px) {
            font-size: 40px;
        }
    }
    i {
        bottom: 2.5%;
        cursor: pointer;
        position: absolute;
        margin-left: -3rem;
    }
}

.dropdown-section-content {
    height: 65vh;
    display: none;
    background-color: $darkgray;
}


/* ------ Stats ------ */

#stats {
    h1 {
        color: $primaryColor;
    }
    #map {
        max-width: 90%;
        height: 100%;
        margin: 0 auto 3vh auto;

        tspan, #stats_outer, #stats_zoom {
            display: none;
        }
    }
    #statsmodal {
        max-height: 65vh;

        .modal-content {
            h2 {
                color: $primaryColor;
                font-family: $headerFont;
            }
            table {
                thead {
                    tr {
                        th {
                            font-size: 1.5rem;
                            color: $primaryColor;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}


/* ------ Grid ------ */

#grid {
    h1 {
        color: $primaryColor;
    }
    table {
        width: auto;
        margin: auto;
        border-collapse: unset;

        thead {
            tr {
                th {
                    color: $primaryColor;
                    font-weight: 800;
                    font-size: 1.5rem;
                    padding-top: 1rem;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 0 .4rem .4rem 0;

                    h3 {
                        margin: 0;
                        color: $primaryColor;
                        font-weight: 500;
                        font-size: 2.25rem;
                    }
                    h4 {
                        margin: .75rem 0;
                        font-size: 1.75rem;
                    }
                    h5 {
                        font-size: 1.5rem;
                    }
                    img {
                        width: 15vw;
                        vertical-align: top;
                    }
                    &:first-of-type{
                        padding-right: 1.5rem;
                    }
                }
                th {
                    color: $primaryColor;
                    font-weight: 800;
                    font-size: 1.5rem;
                    padding-bottom: 4rem;
                }
                &:nth-of-type(3) {
                    td {
                        padding: 0 .4rem 0 0;
                    }
                }
            }
        }
    }
    .flip {
        width: 15vw;
        height: 15vw;
        margin: 0 auto;
    }
    .flip img {
        width: 15vw;
        height: auto;
    }
    .flip .back {
        text-align: center;
        background-color: $primaryColor;

        h3 {
            color: white;
        }
    }
    #gridmodal {
        max-height: 65vh;

        .modal-content {
            h2 {
                font-size: 3rem;
                color: $primaryColor;
                font-family: $headerFont;
            }
            p {
                font-size: 1.3rem;

                strong {
                    font-weight: bold;
                }
            }
        }
    }
}


/* ------ Resources ------ */

#resources {
    margin: 0;
    height: auto;
    padding: 3vh 5vh 3vh 5vh;
    background-color: $primaryColor;

    .input-field input[type=text] {
        color: white;
        box-shadow: 0 1px 0 0 white;
        border-bottom: 1px solid white;
    }
    .input-field input[type=text]:focus {
        color: white;
        box-shadow: 0 1px 0 0 white;
        border-bottom: 1px solid white;
    }
    .select-dropdown li.disabled > span {
        color: $lightgray;
    }
    .dropdown-content li > span {
        color: $primaryColor;

        label {
            color: $primaryColor;
        }
    }
    .dropdown-content li.disabled > span {
        label {
            color: $lightgray;
        }
    }
    .select-dropdown li.optgroup>span {
        color: $lightgray;
    }
    .select-wrapper input.select-dropdown:focus {
        border-bottom-color: $primaryColor;
    }

    h1 {
        margin: 0 0 3vh 0;
        color: white;
    }
    form {
        ::placeholder {
            color: white;
        }
        .input-field {
            margin: 0;
            width: 22.5%;
            padding: 0 .25rem;
            vertical-align: top;
            display: inline-block;
        }
        .input-field:last-of-type {
            width: auto;
            margin-top: -1rem;
        }
        #findResourcesSubmitButton {
            font-size: 1.35rem;
            color: $primaryColor;
            background-color: white;
            font-family: $primaryFont;
            text-transform: capitalize;
        }
    }
    #resourcesmodal {
        max-height: 65vh;

        .modal-content {
            h2 {
                font-size: 3rem;
                text-align: left;
                color: $primaryColor;
                font-family: $headerFont;
            }
            table {
                thead {
                    tr {
                        th {
                            color: $primaryColor;
                            font-size: 1.5rem;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}


/* ------ Forms ------ */

#resourceForm {
    height: $fullheight;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/images/forms.jpg');

    .input-field input[type=text]:focus {
        border-bottom: 1px solid $primaryColor;
        box-shadow: 0 1px 0 0 $primaryColor;
    }
    .switch label input[type=checkbox]:checked + .lever {
        background-color: $primaryColor;
    }
    .switch label input[type=checkbox]:checked + .lever:after {
        background-color: $primaryColor;
    }
    .select-dropdown li.disabled > span {
        color: $lightgray;
    }
    .dropdown-content li > span {
        color: $primaryColor;

        label {
            color: $primaryColor;
        }
    }
    .dropdown-content li.disabled > span {
        label {
            color: $lightgray;
        }
    }
    [type="checkbox"]:checked+span:not(.lever):before {
        border-right-color: $primaryColor;
        border-bottom-color: $primaryColor;
    }
    [type="checkbox"]:checked:disabled+span:before {
        border-right-color: $lightgray;
        border-bottom-color: $lightgray;
    }
    .select-dropdown li.optgroup>span {
        color: $lightgray;
    }
    .select-wrapper input.select-dropdown:focus {
        border-bottom-color: $primaryColor;
    }

    .resources {
        width: 80%;
        height: 85%;
        overflow: hidden;

        .card-content {
            height: 100%;
            position: relative;

            .card-title {
                margin: 0;
                font-size: 3rem;
                color: $primaryColor;
                font-family: $headerFont;
            }
            form {
                ::placeholder {
                    color: black;
                }
                .row, .tab {
                    display: none;

                    .tab-title {
                        font-size: 1.5rem;
                    }
                    .input-field {
                        margin: 0 0 .5rem 0;

                        textarea {
                            height: 8.5rem;
                        }
                    }
                    .col {
                        label {
                            color: black;
                            font-size: 1rem;
                        }
                    }
                    &.five {
                        .col {
                            margin-bottom: 3rem;
                        }
                    }
                    .helper-text {
                        font-size: .75rem;
                        margin-bottom: 1rem;
                        color: $lightgray;
                    }
                }
                .tab {
                    &.one {
                        .input-field {
                            &:nth-of-type(10) {
                                ul {
                                    height: 375px;
                                }
                            }
                        }
                    }
                    &.five {
                        ul {
                            height: 300px;
                        }
                    }
                }
                .navigation {
                    right: calc(.75rem + 24px);
                    bottom: 24px;
                    position: absolute;
                    a {
                        font-size: 1.35rem;
                        display: inline-block;
                        background-color: $primaryColor;
                        text-transform: capitalize;

                        &.previous {
                            background-color: $darkgray;
                        }
                    }
                    i {
                        float: right;
                        background-color: $primaryColor;
                        margin-left: .25rem;

                        #submitButton {
                            color: white;
                            font-family: $primaryFont;
                            font-size: 1.35rem;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}
