/* ------ Variables ------ */

$primary: #37abcb;
$gray: #34393d;
$fullheight: calc(99vh - 56px);


/* ------ Global ------ */

* {
    font-family: 'Molengo', sans-serif;
}


/* ------ Navbar ------ */

.navbar-fixed {
    nav {
        background-color: $primary;

        .nav-wrapper {
            img {
                margin: 11px;
            }
            ul {
                li {
                    a {
                        font-weight: 500;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}


/* ------ Banner ------ */

#banner {
    height: $fullheight;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/images/banner.jpg');
}


/* ------ Campaign / Dropdowns ------ */

.campaign {
    height: 65vh;
    padding-top: 4rem;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &.one {
        background-image: url('/images/campaign_one.jpg');
    }
    &.two {
        background-image: url('/images/campaign_two.jpg');
    }
    &.three {
        background-image: url('/images/campaign_three.jpg');
    }
    h1 {
        color: white;
        font-size: 5rem;
        font-family: 'Cabin Sketch', cursive;
    }
    h2 {
        color: white;
    }
    i {
        bottom: 2.5%;
        cursor: pointer;
        position: absolute;
    }
}

.dropdown {
    height: 65vh;
    display: none;
    background-color: $gray;
}


/* ------ Stats ------ */

#stats {
    h1 {
        color: $primary;
        font-size: 4rem;
        font-family: 'Cabin Sketch', cursive;
    }
    #map {
        margin: auto;
        max-width: 90%;
        height: $fullheight;

        tspan, #stats_outer, #stats_zoom {
            display: none;
        }
    }
    #statsmodal {
        max-height: 65vh;

        .modal-content {
            h2 {
                color: $primary;
                font-size: 3rem;
                font-family: 'Cabin Sketch', cursive;
            }
            table {
                thead {
                    tr {
                        th {
                            color: $primary;
                            font-size: 1.5rem;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}


/* ------ Grid ------ */

#grid {
    h1 {
        color: $primary;
        font-size: 4rem;
        font-family: 'Cabin Sketch', cursive;
    }
    table {
        width: auto;
        margin: auto;
        border-collapse: unset;

        thead {
            tr {
                th {
                    color: $primary;
                    font-weight: 800;
                    font-size: 1.5rem;
                    padding-top: 1rem;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 0 .4rem .4rem 0;

                    h3 {
                        margin: 0;
                        color: $primary;
                        font-weight: 500;
                        font-size: 2.25rem;
                    }
                    h4 {
                        margin: .75rem 0;
                        font-size: 1.75rem;
                    }
                    h5 {
                        font-size: 1.5rem;
                    }
                    img {
                        width: 15vw;
                        vertical-align: top;
                    }
                    &:first-of-type{
                        padding-right: 1.5rem;
                    }
                }
                th {
                    color: $primary;
                    font-weight: 800;
                    font-size: 1.5rem;
                    padding-bottom: 4rem;
                }
                &:nth-of-type(3) {
                    td {
                        padding: 0 .4rem 0 0;
                    }
                }
            }
        }
    }
}


/* ------ Resources ------ */

#resources {

}


/* ------ Forms ------ */

#forms {
    height: $fullheight;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/images/forms.jpg');
}
