<div class="row step four">
    <h4 class="tab-title">Step 4 of 5: Partner Descriptions</h4>
    <div class="input-field col m12">
        <textarea name="Description" rows="6" placeholder="Description of Partner"></textarea>
    </div>
    <div class="input-field col m12">
        <textarea name="Services Provided" rows="6" placeholder="Description of Services Provided by Partner"></textarea>
    </div>
</div>