<div class="row tab four">
    <h4 class="tab-title">Step 4 of 5: Resource Descriptions</h4>
    <div class="input-field col m12">
        <textarea name="Description" rows="6" placeholder="Description of Resource"></textarea>
    </div>
    <div class="input-field col m12">
        <textarea name="Services Provided" rows="6" placeholder="Description of Services Provided by Resource"></textarea>
    </div>
</div>