<div class="row step one">
    <h4 class="tab-title">Step 1 of 5: Resource Information</h4>
    <div class="input-field col m6">
        <input type="text" name="Name" placeholder="Resource Name">
    </div>
    <div class="input-field col m6">
        <input type="text" name="Website" placeholder="Resource Website">
    </div>
    <div class="input-field col m6">
        <input type="text" name="Phone" placeholder="Resource Main Phone Number" data-mask="(000) 000-0000" maxlength="14">
    </div>
    <div class="input-field col m6">
        <select name="Type">
            <%- include('../../../partials/resourceTypes') %>
        </select>
    </div>
    <div class="input-field col m6">
        <input type="text" name="Address One" placeholder="Resource Address Line 1">
    </div>
    <div class="input-field col m6">
        <input type="text" name="Address Two" placeholder="Resource Address Line 2">
    </div>
    <div class="input-field col m5">
        <input type="text" name="City" placeholder="Resource City">
    </div>
    <div class="input-field col m3">
        <input type="text" name="State" placeholder="Resource State">
    </div>
    <div class="input-field col m4">
        <input type="text" name="Zip" placeholder="Resource Zip" maxlength="5">
    </div>
    <div class="input-field col m6">
        <select multiple name="Counties">
            <%- include('../../../partials/resourceCounties') %>
        </select>
        <span class="helper-text">Select All That Apply.</span>
    </div>
    <div class="col m6">
        <span>Does this Resource Partner provide direct servces to children and families in child welfare?</span>
        <div class="switch">
            <label>
                No
                <input type="checkbox" name="Are Services Provided?" id="areServicesProvided">
                <span class="lever"></span>
                Yes
            </label>
        </div>
    </div>
</div>