<div class="row step three">
    <h4 class="tab-title">Step 3 of 5: Resource Partner  Community Contact</h4>
    <h6>Who is the best community contact that is willing to receive inquiries?</h6>
    <div class="input-field col m4">
        <input type="text" id="championFirstName" name="Champion First Name" placeholder="Partner Community Contact First Name">
    </div>
    <div class="input-field col m4">
        <input type="text" id="championLastName" name="Champion Last Name" placeholder="Partner Community Contact Last Name">
    </div>
    <div class="input-field col m4">
        <input type="text" id="championRole" name="Champion Role" placeholder="Partner Community Contact Role">
    </div>
    <div class="input-field col m5">
        <input type="text" id="championPhone" name="Champion Phone" placeholder="Partner Community Contact Phone" data-mask="(000) 000-0000" maxlength="14">
    </div>
    <div class="input-field col m7">
        <input type="text" id="championEmail" name="Champion Email" placeholder="Partner Community Contact Email">
    </div>
</div>