<div class="row step three">
    <h4 class="tab-title">Step 3 of 5: Resource Champion Information</h4>
    <div class="input-field col m6">
        <input type="text" id="championName" name="Champion Name" placeholder="Resource Champion Name (First and Last)">
    </div>
    <div class="input-field col m6">
        <input type="text" id="championRole" name="Champion Role" placeholder="Resource Champion Role">
    </div>
    <div class="input-field col m6">
        <input type="text" id="championPhone" name="Champion Phone" placeholder="Resource Champion Phone" data-mask="(000) 000-0000" maxlength="14">
    </div>
    <div class="input-field col m6">
        <input type="text" id="championEmail" name="Champion Email" placeholder="Resource Champion Email">
    </div>
</div>