<div class="row step two">
    <h4 class="tab-title">Step 2 of 5: Form Submitter Information</h4>
    <div class="input-field col m4">
        <input type="text" id="formSubmitterFirstName" name="Form Submitter First Name" placeholder="Form Submitter First Name">
    </div>
    <div class="input-field col m4">
            <input type="text" id="formSubmitterLastName" name="Form Submitter Last Name" placeholder="Form Submitter Last Name">
        </div>
    <div class="input-field col m4">
        <input type="text" id="formSubmitterRole" name="Form Submitter Role" placeholder="Form Submitter Role">
    </div>
    <div class="input-field col m5">
        <input type="text" id="formSubmitterPhone" name="Form Submitter Phone" placeholder="Form Submitter Phone" data-mask="(000) 000-0000" maxlength="14">
    </div>
    <div class="input-field col m7">
        <input type="text" id="formSubmitterEmail" name="Form Submitter Email" placeholder="Form Submitter Email">
    </div>
    <div class="col m12">
        <span>Is the person completing this form the best contact for community inquiries?</span>
        <div class="switch">
            <label>
                No
                <input type="checkbox" id="isChampion" name="Is Resource Champion?">
                <span class="lever"></span>
                Yes
            </label>
        </div>
    </div>
</div>